

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('../fonts/Gilroy-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
}

/*------------------------------------------------
GLOBAL STYLES
--------------------------------------------------*/
html, body {
    height: 100%;
}

body {
    position: relative;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-family: 'Gilroy-Black';
}

h2 {
    font-family: 'Gilroy-Heavy';
    font-size: 36px;
}

h3 {
    font-family: 'Gilroy-Black';
    font-size: 36px;
}

h4 {
    font-family: 'MyriadPro-Bold';
    font-size: 22px;
}

h5 {
    font-family: 'MyriadPro-Regular';
    font-size: 22px;
}

p {
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
}

ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-family: 'Gilroy-Heavy';
    font-size: 18px;
}

a:hover {
    color: none;
}

.container-fluid {
    padding: 0;
}

.button-area {
    text-align: center;
}

.button-action {
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 1;
    padding: 16px 22px 14px 22px;
    background: #9d3522;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.button-action:hover {
    color: #fff;
}

/*------------------------------------------------
BACKGROUND FOR PAGE
--------------------------------------------------*/
.main-area-with-bg {
    border-top: 7px solid #191515;
}

.main-page .main-area-with-bg {
    background: url("/img/main-bg.jpg") no-repeat;
    background-size: cover;
}

.single-page .main-area-with-bg {
    background: url("/img/main-bg.jpg") no-repeat;
    background-size: cover;
}

.contact-page .main-area-with-bg {
    background: #292120;
}

.contact-page .wrapper {
    background: #292120;
}

/*------------------------------------------------
HEADER
--------------------------------------------------*/
.header {
    background: #191515;
}

.main-page-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo-area {
    width: 50%;
}

.logo-area img {
    width: 50%;
}

.wrapp-top-area-header {
    padding-top: 60px;
    padding-bottom: 16px;
    border-bottom: 1px solid #a03624;
}

.phone-numbers {
    color: #fff;
    font-family: 'Gilroy-Black';
    font-size: 30px;
    padding: 0px 12px;
    border: 2px solid #fff;
    margin-right: 6px;
    margin-left: 13px;
    line-height: 1.5;
}

.header-mini-cart {
    margin-left: 5px;
    position: relative;
}

.header-mini-cart img {
    width: 54px;
}

.header-mini-cart .cart-counter {
    position: absolute;
    top: 0;
    left: 50%;
    background: #a03624;
    color: #fff;
    padding: 3px 8px;
    line-height: 1;
    border-radius: 25px;
    font-family: "MyriadPro-Bold";
    font-size: 17px;
}

.header-social i {
    color: #fff;
    padding-left: 13px;
    font-size: 52px;
}

.main-menu-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-menu-list .main-menu-item {

    padding-right: 46px;
}

.main-menu-list .main-menu-item:first-child {
    padding-right: 21px;
}

.main-menu-list .main-menu-item a {
    color: #fff;
    font-family: 'Gilroy-Black';
    font-size: 18px;
    border: 2px solid transparent;
    line-height: 1;
    padding: 8px 0;
}

.main-menu-list .main-menu-item:hover a {
    color: #9e3522;
}

.main-menu-list .main-menu-item.production {
    padding-right: 13px;
    position: relative;
}

.main-menu-list .main-menu-item.production a {
    padding-left: 23px;
    padding-right: 31px;
}

.main-menu-list .main-menu-item.production .sub-list {
    display: none;
    position: absolute;
    width: 100%;
    padding-right: 13px;
    z-index: 111;
}

.main-menu-list .main-menu-item.production:hover .sub-list {
    display: block;
}

.main-menu-list .main-menu-item.production:hover a {
    border: 2px solid #9e3522;
}

.main-menu-list .sub-list li {
    margin-top: 3px;
    text-transform: uppercase;
    background: #9d3522;
}

.main-menu-list .main-menu-item.production .sub-list a {
    /*padding-right: 10px;*/
    padding: 8px 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.main-menu-list .main-menu-item.production .sub-list li a {
    border: none;
}

.main-menu-list .main-menu-item.production .sub-list li:hover a {
    color: #000;
    background: #833221;
}

.burger-mobile {
    display: none;
}

.mobile-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 120%;
}

/*------------------------------------------------
HOME PAGE
--------------------------------------------------*/
/*------------------------------------------------
HOME BANNER
--------------------------------------------------*/
.wrapp-slides {
    position: relative;
}

.wrapp-slides.owl-carousel {
    overflow: hidden;
}

.main-page-slider {
    overflow: hidden;
}

.wrapp-slides .owl-nav {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.owl-stage {
    overflow: hidden;
}

.wrapp-slides .owl-dots {
    position: absolute;
    width: fit-content;
    bottom: 10px;
    left: 50%;
}

.wrapp-slides .owl-dots button {
    width: 8px;
    height: 8px;
    color: #fff;
    background: #fff;
    border-radius: 25px;
    margin-right: 4px;
}

.wrapp-slides .owl-dots button {
    width: 8px;
    height: 8px;
    color: #fff;
    background: #fff;
    border-radius: 25px;
    margin-right: 4px;
}

.wrapp-slides .owl-dots .owl-dot.active {
    width: 15px;
    height: 15px;
}

.wrapp-slides.owl-carousel .owl-item .banner-images {
    height: 597px !important;
}

/*------------------------------------------------
CHOOSE WORM
--------------------------------------------------*/
.choose-worm .offer-text {
    padding-bottom: 34px;
    border-bottom: 1px solid #1d1919;
}

.choose-worm .offer-text h2 {
    color: #d5c7bf;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding-top: 36px;
    padding-bottom: 16px;
    text-align: center;
}

.choose-worm .offer-text h2 span {
    color: #9d3220;
}

.choose-worm .offer-text h4 {
    color: #191515;
    text-align: center;
}

.main-product .main-prod-wrapper {
    text-align: center;
    padding-bottom: 80px;
    z-index: 2;
}

.main-product .main-prod-wrapper .photo-area-prod {
    position: relative;
    padding-bottom: 45px;
}

.main-product .main-prod-wrapper img {
    height: 280px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main-product {
    padding-top: 90px;
    position: relative;
    z-index: 2;
}

.main-product .main-prod-wrapper .worm-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background: #312318;
    border-radius: 40px;
    padding: 10px;
    border: 5px solid #543e2e;
    position: absolute;
    left: 43%;
    bottom: 0;
}

.main-product .main-prod-wrapper .photo-area-prod .icon-link-worm {
    position: absolute;
    left: 40%;
    bottom: 0;
}

.main-product .main-prod-wrapper.central-prod .worm-icon {
    background: #9D3220;
}

.divider-worm {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #1a1a1a;
    top: 53.5%;
}

.divider-more-button {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #9D3220;
    bottom: 11%;
}

.main-product .main-prod-wrapper h3 {
    padding-bottom: 28px;
    color: #9d3220;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
    font-size: 30px;
}

.main-product .main-prod-wrapper.central-prod h3 {
    color: #fff;
    font-size: 30px;
}

.main-product .main-prod-wrapper.central-prod p {
    color: #d8d8d8;
}

.main-product .main-prod-wrapper p {
    color: #d5c7bf;
    font-family: "MyriadPro-Bold";
    padding-bottom: 28px;
    max-width: 38ch;
    margin: 0 auto;
}

.main-product .main-prod-wrapper a.more-about-buy {
    color: #fff;
    font-family: "Gilroy-Black";
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 25px;
    background: #9D3220;
    border: 5px solid #543e2e;
    z-index: 2;
    border-block: none;
}

section.choose-worm .container {
    position: relative;
}

/*.main-product .main-prod-wrapper.central-prod {*/
/*    background-image: url("/img/shadow.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    padding-bottom: 80px;*/
/*}*/

.main-product .main-prod-wrapper a:focus {
    color: #9d3522;
    padding-bottom: 3px;
    border-bottom: 1px solid #9d3522;
}

/*------------------------------------------------
REVIEWS AREA
--------------------------------------------------*/
.clients-reviews .about-us-says {
    padding-top: 28px;
    padding-bottom: 50px;
    border-top: 1px solid #1d1919;
}

.clients-reviews .customers-reviews {
    padding: 0 76px;
    position: relative;
    margin-bottom: 24px;
}

.clients-reviews .about-us-says h4 {
    text-align: center;
    color: #191515;
    text-transform: uppercase;
}

.clients-reviews .left-side {
    padding-bottom: 24px;
    margin-right: 28px;
}

.clients-reviews .left-side img {
    border: 6px solid #533f2e;

}

.clients-reviews .left-side h4 {
    color: #d5c7bf;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 12px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
}

.clients-reviews .left-side p {
    color: #9d3522;
    text-align: center;
}

.clients-reviews .right-side {
    text-align: center;
}

.clients-reviews .right-side p {
    font-family: "Gilroy-Bold";
    font-size: 16px;
    color: #d5c7bf;
    padding-top: 28px;
    padding-bottom: 35px;
}

.clients-reviews .right-side .review-stars {
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.clients-reviews .right-side .review-stars img {
    width: 25px;
    text-align: center;
}

.customers-reviews .owl-nav {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

/*------------------------------------------------
SINGLE PAGE
--------------------------------------------------*/
/*------------------------------------------------
BANNER AREA
--------------------------------------------------*/
.banner-area {
    background: url("/img/page-banner.jpg") no-repeat;
    background-size: cover;
}

.banner-area h1 {
    color: #fff;
    padding-top: 52px;
    padding-bottom: 46px;
    text-transform: uppercase;
}

.banner-area h1 span {
    color: #9d3522;
}

/*------------------------------------------------
PRODUCT DESCRIPTION
--------------------------------------------------*/
.best-worm-prod-page {
    padding-top: 28px;
    padding-bottom: 22px;
    border-bottom: 1px solid #c2c2c2;
}

.best-worm-prod-page h4 {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.best-worm-prod-page p {
    color: #a19d9b;
    text-align: center;
    padding-top: 12px;
}

.top-area-prod-descript {
    padding-top: 30px;
}

.top-area-prod-descript .photo-left-area {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.top-area-prod-descript .photo-left-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-prod-photo {
    width: 79%;
    padding-right: 1%;
}

.main-prod-photo img {
    height: 440px !important;
    object-fit: cover !important;
}

.additional-photo {
    width: 20%;
}

.additional-photo img {
    border: 5px solid #666262;
}

.additional-photo .woocommerce-product-gallery__image a {
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.additional-photo .woocommerce-product-gallery__image {
    height: 18.1%;
    margin-bottom: 5px;
}

.additional-photo .woocommerce-product-gallery__image a:after {
    position: absolute;
    background: #4c4848;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
}

.additional-photo .woocommerce-product-gallery__image a.active:after {
    display: none;
}

.additional-photo a:last-child {
    /*margin-bottom: 0;*/
}

.description-right-area {
    width: 100%;
    float: right;
    background-size: 30%;
    background-repeat: no-repeat;
}

.description-right-area.prod-11 {
    background-image: url("/img/staratel_icon_red.svg");
}

.description-right-area.prod-22 {
    background-image: url("/img/dendrobena_icon_red.svg");
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 28px;
}

.price-wrapper span {
    line-height: 0.85;
}

.price-wrapper .price {
    font-family: "Gilroy-Black";
    font-size: 48px;
    color: #fff;
}

.price-wrapper .currency {
    font-family: "Gilroy-Black";
    font-size: 36px;
    color: #666262;
}

.weight-wrapper p {
    font-family: "Gilroy-Black";
    font-size: 24px;
    color: #fff;
}

.weight-wrapper {
    display: flex;
    justify-content: flex-end;
}

.weight-wrapper p span {
    color: #666262;
    margin-left: 18px;
}

.description-right-area h2 {
    font-family: 'Gilroy-Black';
    font-size: 48px;
    text-align: right;
    text-transform: uppercase;
    color: #666262;
    line-height: 0.85;
    padding-top: 35px;
    padding-bottom: 30px;
}

.description-right-area h2 span h1 {
    font-size: 48px;
    line-height: 0.85;
}

.description-right-area h2 span {
    color: #9d3522;
}

.buy-area-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-action-buy {
    background: #9d3522;
    padding: 16px 90px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 7px solid #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: "MyriadPro-Bold";
    font-size: 24px;
    line-height: 1;
    margin-left: 21px;
}

.first-worm-pack {
    display: none;
}

.button-action-buy:hover {
    color: #000;
}

.bottom-characteristics {
    padding-top: 58px;
}

.bottom-characteristics h4 {
    padding-bottom: 18px;
    color: #cdcdcd;
    font-size: 18px;
}

.left-side-bullet-list {
    padding-top: 30px;
}

.left-side-bullet-list ul li {
    font-family: "MyriadPro-Bold";
    font-size: 18px;
    color: #fff;
    padding-bottom: 8px;
}

.left-side-bullet-list ul li::before {
    content: "\2022";
    color: #9e3522;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.description-main-text p {
    font-size: 18px;
    color: #b7b7b7;
    line-height: 1.8;
}

/*------------------------------------------------
FISH SLIDER SECTION
--------------------------------------------------*/
.fish-slider .fish-slider-header {
    padding-top: 24px;
    margin-top: 90px;
    border-top: 1px solid #c2c2c2;
}

.fish-slider h5 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.fish-slider p {
    color: #d7d7b8;
    font-size: 18px;
    text-align: center;
}

.fish-wide {
    padding: 40px 130px 66px 130px;
    background: url("/img/bg-fish.png") no-repeat bottom left;
    background-size: contain;
}

.fish-wide .owl-nav.disabled {
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 35%;
    position: absolute;
    z-index: -1;
}

.fish-wide .owl-nav.disabled button {
    opacity: 0.5;
}

.fish-wide .owl-nav.disabled button:hover {
    opacity: 1;
}

.wrapp-fish-wide img {
    padding-bottom: 10px;
    height: 140px;
}

.wrapp-fish-wide h4 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-bottom: 13px;
    border-bottom: 5px dotted #a03826;
}

.wrapp-fish-wide p {
    padding-top: 16px;
    font-family: "Gilroy-Bold";
    font-size: 14px;
}

/*------------------------------------------------
ABOUT US PAGE
--------------------------------------------------*/
.short-info-about {
    padding-top: 66px;
    padding-bottom: 46px;

}

.short-info-about h1 {
    text-align: center;
    text-transform: uppercase;
    color: #9d3220;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
    padding-bottom: 55px;
}

.short-info-about p {
    font-family: "Gilroy-Black";
    font-size: 24px;
    color: #d5c7bf;
    text-align: center;
    padding: 0 15%;
}

.photo-about-slider {
    padding: 12px 120px;
    border-top: 2px solid #1d1919;
    border-bottom: 2px solid #1d1919;
}

.photo-about-slider .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
    padding: 12px 0;
}

.photo-about-slider .owl-dots {
    display: none;
}

.photo-about-slider .owl-nav button {
    width: 9%;
}

.photo-about-slider .owl-nav button img {
    opacity: 0.5;
}

.photo-about-slider .owl-nav button.owl-prev {
    -webkit-box-shadow: inset -32px 0px 50px -14px rgba(0, 0, 0, 0.4);
    box-shadow: inset -32px 0px 50px -14px rgba(0, 0, 0, 0.4);
}

.photo-about-slider .owl-nav button.owl-next {
    -webkit-box-shadow: inset 32px 0px 50px -14px rgba(0, 0, 0, 0.4);
    box-shadow: inset 32px 0px 50px -14px rgba(0, 0, 0, 0.4);
}

.photo-about-slider .owl-nav button img:hover {
    opacity: 1;
}

.slider-about-us p {
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    color: #aeac9c;
    padding: 24px 15%;
    text-align: center;
}

.slogan-text .container {
    position: relative;
    height: 100%;
}

.slogan-text {
    height: 350px;
}

.slogan-text img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.slogan-text h2 {
    text-align: center;
    color: #fff;
    padding-top: 14%;
    z-index: 1;
}

/*------------------------------------------------
CONTACT PAGE
--------------------------------------------------*/

.send-us-mail h4 {
    color: #5f5b5b;
    text-align: center;
    padding-top: 24px;
}

.send-us-mail p {
    color: #9d3220;
    text-align: center;
    padding: 22px 18% 55px 18%;
}

.send-us-mail .contact-header-text {
    border-bottom: 1px solid #c2c2c2;
}

.mail-fields {
    padding-top: 60px;
}

.mail-fields .top-text-contact h4 {
    color: #fff;
}

.mail-fields .top-text-contact p {
    padding-top: 28px;
    color: #8f8f8f;
    line-height: 2;
}

.right-side-contact-info h4 {
    color: #9d3220;
    font-size: 18px;
    padding-bottom: 28px;
}

.right-side-contact-info p {
    color: #8f8f8f;
}

.right-side-contact-info .where-we-are p {
    padding-bottom: 32px;
}

.right-side-contact-info .contacts-info {
    padding-top: 18px;
    padding-bottom: 48px;
}

.right-side-contact-info .info-wrapp {
    display: flex;
    justify-content: space-between;
}

.right-side-contact-info .additional-time-text {
    padding-top: 32px;
    color: #fff;
}

/*------------------------------------------------
FOOTER
--------------------------------------------------*/
.follow-us-wrapper {
    padding-top: 32px;
    border-top: 1px solid #c2c2c2;
    padding-bottom: 60px;
}

.follow-us-wrapper h5 {
    text-align: center;
    color: #d7d7b8;
    margin-bottom: 28px;
}

.follow-us-wrapper h5:first-child {
    color: #fff;
    margin-bottom: 20px;
}

.follow-us-wrapper p {
    color: #9b9999;
    text-align: center;
    margin-bottom: 28px;
}

.footer {
    background: #1a1616;
    padding-top: 60px;
}

.top-footer {
    padding-bottom: 60px;
}

.footer p {
    font-size: 14px;
    color: #9b9999;
}

.footer h5 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 30px;
}

.about-company-footer-area img {
    padding-bottom: 34px;
    width: 230px;
}

.contact-footer-area p {
    line-height: 2;
}

.contact-footer-area a {
    margin-top: 12px;
}

.contact-footer-area .phone-number-footer {
    color: #fff;
    font-size: 16px;
}

.footer-page-list li a {
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    color: #9b9999;
}

.footer-page-list li:before {
    content: url("/img/bullet.svg");
    width: 7px;
    height: 10px;
    padding-right: 10px;
}

.footer-send-email .social-links {
    display: flex;
    flex-direction: row;
}

.footer-send-email .social-links i {
    padding-left: 12px;
}

.footer-send-email .social-links h5 {
    padding-right: 12px;
    padding-bottom: 38px;
}

.footer-send-email input[type="email"] {
    background: #4e4c4c;
    border: none;
    padding: 16px 16px 14px 16px;
    color: #fff;
    outline: 0;
}

.footer-send-email input[type="email"]::placeholder {
    color: #fff;
}

.footer-send-email button {
    -webkit-appearance: none;
    border: none;
    padding: 16px 20px 14px 15px;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
}

.bottom-footer {
    padding-top: 30px;
    border-top: 1px solid #808080;
    padding-right: 30px;
    padding-bottom: 30px;
}

.bottom-footer p {
    text-transform: uppercase;
    color: #808080;
    font-size: 12px;
}

.bottom-footer p span {
    color: #fff;
}

.policy-pages ul {
    display: flex;
    flex-direction: row;
}

.policy-pages ul li a {
    color: #808080;
    font-family: 'MyriadPro-Regular';
    font-size: 12px;
}

.policy-pages ul li:after {
    content: "/";
    color: #808080;
    margin: 0 5px;
}

.policy-pages ul li:last-child:after {
    content: none;
}

span.woocommerce-Price-currencySymbol {
    display: none;
    display: none;
}

.buy-area-wrapper .cart input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    background: #666262;
    border: 0;
    width: 54px;
    height: 54px;
    text-align: center;
    color: #fff;
    outline: 0;
    margin: 0 4px;
    font-family: "MyriadPro-Bold";
    font-size: 36px;
}

.buy-area-wrapper .cart .quantity {
    position: relative;
}

/*.buy-area-wrapper .cart .quantity:after {*/
/*    content: "ÐºÐ³";*/
/*    position: absolute;*/
/*    right: 7px;*/
/*    top: -5px;*/
/*    font-family: "MyriadPro-Bold";*/
/*    font-size: 16px;*/
/*    color: #9d3522;*/
/*}*/

.buy-area-wrapper .cart input::-webkit-outer-spin-button,
.buy-area-wrapper .cart input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.buy-area-wrapper .cart {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus-minus-button-wrapp {
    position: relative;
}

.buy-area-wrapper .cart .wrapp-buttons {
    display: flex;
}

.plus-minus-button-wrapp input {
    position: absolute;
    width: 100%;
    height: 54px;
    left: 0;
    opacity: 0;
}

.mini-cart-header {
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
    background: #9d3522;
    padding: 0 8px;
    border-bottom: 7px solid #292120;
}

.mini-cart-header.show {
    display: block;
}

.mini-cart-header:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -15px;
    right: 0;
    border-style: solid;
    border-width: 0 5px 16px 16px;
    border-color: transparent transparent #9d3522 transparent;
}

.top-area-header .container {
    position: relative;
}

.mini-cart-header .woocommerce-mini-cart-item.mini_cart_item {
    padding: 21px 10px 12px 10px;
    border-bottom: 1px solid #0003;
}

.mini-cart-header .woocommerce-mini-cart-item.mini_cart_item a {
    font-family: "Gilroy-Black";
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    padding-right: 20px;
}

.mini-cart-header .woocommerce-mini-cart-item.mini_cart_item .quantity {
    font-family: "MyriadPro-Bold";
    font-size: 17px;
    color: #fff;
}

.mini-cart-header .woocommerce-mini-cart-item.mini_cart_item .quantity .quan {
    color: #cacaca;
    padding-right: 20px;
}

.woocommerce-mini-cart__total.total {
    font-family: "MyriadPro-Bold";
    padding: 32px 10px 22px 10px;
    color: #fff;
}

.woocommerce-mini-cart__total.total strong {
    font-size: 17px;
    color: #000;
}

.woocommerce-mini-cart__total.total span {
    font-size: 24px;
    color: #fff;
    padding-left: 34%;
}

.contact-form-wrapper .form-add {
    padding-top: 0 !important;
}

.contact-form-wrapper p {
    padding-top: 12px !important;

}

span.wpcf7-form-control-wrap input {
    margin-bottom: 20px;
    width: 60%;
    height: 40px;
}

textarea.wpcf7-form-control.wpcf7-textarea {
    width: 75%;
}

.contact-form-wrapper {
    padding-bottom: 60px;
}

.contact-form-wrapper .button-action {
    border: 0;
    margin-top: 30px;
}

.site-main .entry-header {
    display: none;
}

#customer_details {
    color: #fff;
}

.woocommerce-checkout-review-order {
    color: #fff;
}

#order_review_heading {
    color: #fff;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #292120;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.alt:hover {
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 1;
    padding: 16px 22px 14px 22px;
    background: #9d3522;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

td.product-name a, .cart-collaterals {
    color: #fff;
}

#customer_details {
    padding-top: 25px;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    color: #fff;
}

.woocommerce table.shop_table, .woocommerce table.shop_table td, .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border-color: #fff;
}

.footer-send-email form {
    display: flex;
    justify-content: space-between;
}

.footer-send-email form input {
    margin-right: 5%;
    width: 75%;
}

.footer-send-email form button {
    width: 20%;
}

.wrapp-soc-icons {
    display: flex;
}

/*------------------------------------------------
POPUP
--------------------------------------------------*/

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 22;
    visibility: hidden;
    opacity: 0;
    height: 100%;
}

.popup-wrapper.show {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.main-popup {
    background: #7f3022;
    width: 70%;
    margin: 4% auto;
    position: relative;
    padding: 30px 24px 140px 24px;
    z-index: 32;
    height: 80%;
    overflow: auto;
}

.popup-wrapper .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0003;
}

.main-popup .popup-head {
    display: flex;
    justify-content: space-between;
}

.main-popup .popup-cart-head {
    display: flex;
    color: #fff;
}

.main-popup .popup-cart-head img {
    width: 50px;
}

.main-menu-mobile-list .main-menu-item.production .sub-list a:focus {
    color: #fff;
    background: #9d3522;
}

.main-popup .popup-cart-head h2 {
    padding-left: 12px;
    font-family: "Gilroy-Black";
}

.main-popup .quantity input {
    border: 0;
}

.main-popup .woocommerce table.shop_table {
    border-color: #0006;
}

.main-popup .popup-text h5 {
    color: #fff;
    font-family: "Gilroy-Black";
    font-size: 18px;
    padding-top: 10px;
}

.main-popup .popup-text p {
    color: #fb9c26;
    font-family: "Gilroy-Medium";
    font-size: 18px;
    padding-bottom: 20px;
}

.woocommerce table.shop_table td {
    padding: 16px 12px;
}

tr.woocommerce-cart-form__cart-item.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-popup .product-name a {
    text-transform: uppercase;
    font-family: "Gilroy-Black";
    font-size: 24px;
}

.main-popup .product-name a:hover {
    color: #000;
}

.main-popup .quantity input {
    background: #292120;
    color: #fff;
    font-family: "MyriadPro-Bold";
    font-size: 22px;
}

.main-popup .product-quantity {
    display: flex;
    align-items: center;
}

.main-popup .product-quantity .weight-name {
    color: #fff;
    padding-left: 18px;
    font-family: "MyriadPro-Regular";
    font-size: 15px;
}

.main-popup .price-per {
    display: flex;
    justify-content: flex-end;
}

.main-popup .price-per bdi {
    font-family: "Gilroy-Black";
    font-size: 18px;
}

.main-popup .price-per p {
    font-family: "Gilroy-SemiBold";
    font-size: 18px;
    padding-left: 3px;
}

.main-popup .sum-item {
    display: flex;
    justify-content: flex-end;
    font-family: "MyriadPro-Bold";
    color: #fff;
    font-size: 24px;
}

.main-popup .sum-item p {
    font-family: "MyriadPro-Bold";
    font-size: 24px;
    padding-left: 5px;
}

.main-popup .product-remove a {
    color: #000 !important;
}

.main-popup .product-remove a:hover {
    color: #000 !important;
    background: transparent;
}

.main-popup .actions {
    display: none;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
}

.main-popup .cart_totals {
    text-align: right;
}

.main-popup .cart_totals td {
    text-align: right;
    border: 2px solid #191515 !important;
}

.main-popup .cart_totals h2 {
    font-family: "MyriadPro-Bold";
    font-size: 18px;
}

.main-popup .cart_totals td bdi {
    font-family: "MyriadPro-Bold";
    color: #fff;
    font-size: 30px;
}

.main-popup .woocommerce table.shop_table {
    margin-bottom: 30px;
}

.main-popup .woocommerce label {
    color: #292120;
    font-family: "Gilroy-Black";
    font-size: 14px;
}

.main-popup .woocommerce .checkout.woocommerce-checkout input {
    height: 40px;
    font-family: "MyriadPro-Regular";
}

.main-popup .cart_totals table.shop_table {
    margin-bottom: 10px;
}

.main-popup #add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: none;
}

li.wc_payment_method.payment_method_cod {
    display: flex;
    align-items: center;
}

.main-popup .woocommerce form .form-row .optional {
    display: none;
}

.main-popup #add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    border: 0;
}

.woocommerce-checkout-review-order h5 {
    font-size: 14px;
    font-family: "Gilroy-Black";
}

.main-popup .woocommerce-error, .woocommerce-info, .woocommerce-message {
    display: none;
}

.main-popup div#customer_details {
    display: flex;
    flex-direction: column;
}

.main-popup .woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-popup .woocommerce-billing-fields__field-wrapper p, .main-popup #order_review, .main-popup .woocommerce-additional-fields {
    width: 48%;
}

.main-popup p#billing_country_field {
    display: none;
}

.main-popup .payment_box.payment_method_cod {
    display: none;
}

.main-popup .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-popup .woocommerce .col2-set .col-1, .main-popup .woocommerce-page .col2-set .col-1, .main-popup .woocommerce .col2-set .col-2, .main-popup.woocommerce-page .col2-set .col-2 {
    width: 100%;
}

.main-popup .woocommerce-terms-and-conditions-wrapper {
    display: none;
}

.main-popup .form-row.place-order {
    position: fixed;
    width: 70%;
    left: 15%;
    padding: 0 !important;
    bottom: 8%;
    margin: 0;
}

button#place_order {
    width: 100%;
    background: #312318;
    font-family: "Gilroy-Black";
    font-size: 36px;
    color: #823426;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
}

.header-social:focus i {
    color: #9d3522;
}

form.wpcf7-form.init label {
    width: 100%;
}

table.variations .value input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Ð´Ð»Ñ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð° label ÑÐ²ÑÐ·Ð°Ð½Ð½Ð¾Ð³Ð¾ Ñ .custom-radio */
table.variations .value input + label {
    align-items: center;
    user-select: none;
}

table.variations .value {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table.variations .single-list-price {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background: #191515;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

table.variations .single-list-price p, table.variations .single-list-price span {
    color: #563f2f;
    font-family: "MyriadPro-Bold";
    font-size: 18px;
}

table.variations .single-weight {
    width: 25%;
    margin-bottom: 10px;
}

table.variations .single-list-price p {
    text-transform: uppercase;
}

table.variations .put-price {
    color: #fff !important;
    font-size: 24px !important;
}

table.variations .value .single-weight {
    border: 5px solid #0c0808;
    padding: 10px 20px;
    line-height: 1.1;
    font-family: "MyriadPro-Bold";
    font-size: 26px;
    color: #fff;
    position: relative;
    cursor: pointer;
}

table.variations .value .single-weight.fill {
    background: #191515;
}

/*table.variations .value div:after {*/
/*content: "ÐºÐ³";*/
/*position: absolute;*/
/*right: 4px;*/
/*top: 2px;*/
/*font-family: "MyriadPro-Bold";*/
/*font-size: 16px;*/
/*color: #db2b0c;*/
/*}*/
table.variations .value div label {
    cursor: pointer;
}

.description-right-area a.reset_variations {
    display: none;
}

/*.description-right-area .single_variation_wrap{*/
/*    position: relative;*/
/*}*/
.description-right-area .woocommerce-variation.single_variation {
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    font-family: "MyriadPro-Bold";
    font-size: 36px;
    color: #fff;
}

.list-price {
    display: none;
    position: absolute;
}

.description-right-area td.label {
    display: none;
}

.description-right-area .woocommerce-variation-price:after {
    content: "Ð³Ñ€Ð½";
    margin-left: 10px;
}

.buy-area-wrapper {
    position: relative;
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    display: flex;
    /*margin-top: 20px;*/
    flex-wrap: wrap;
    justify-content: center;
}

table.variations {
    width: 100%;
}

.woocommerce table.shop_table, .woocommerce table.shop_table td, .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border-color: transparent;
}

.cover-plus-minus {
    display: flex;
}

a.toggle-quantity {
    display: none;
}

a.close-pack-overlay {
    display: none;
}

.choose-pack {
    display: none;
}

article#post-9 {
    color: #fff;
}

.woocommerce-order {
    padding: 0 10%;
}

.button-validate {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    animation: 0;
    z-index: 1000;
}

.woocommerce-billing-fields__field-wrapper .input-text.wrong {
    border: 2px solid red;
}

.description-right-area.outofstock {
    position: relative;
}

.description-right-area.outofstock:before {
    content: "";
    background: url(/img/outofstock.png) no-repeat;
    background-size: contain;
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 30%;
    z-index: 1;
    left: 40%;
}

.outofstock .hrn p{
    display: none;
}

.put-quantity-worm.sale, .hrn p {
    position: relative;
}

.put-quantity-worm.sale, .hrn p {
    color: #d7d7b8 !important;
    font-family: 'MyriadPro-Regular' !important;
    margin-right: 20px !important;
    font-size: 22px !important;
}

.put-quantity-worm.sale:after, .hrn p:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    transform: rotate(14deg);
    top: 48%;
}

.hrn {
    display: flex;
    position: relative;
}

.hrn p {
    color: #d7d7b8;
    font-family: 'MyriadPro-Regular';
    margin-right: 20px;
    font-size: 22px;
}
